<div class="modal-overlay">
  <div class="modal">
    <button class="close-btn" data-modal-close>
      <svg class="close-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h5 class="modal-info-title"></h5>
    <div class="modal-info">
      <div class="modal-info-card">
        <img class="ph-artist" src="" alt="" />

        <!-- <div class="modal-info-description">
  
            <div class="modal-info-list">
              <div class="wrap-info-item">
                <div class="modal-info-item">
                  <span class="detail-label">Years active</span>
                  <span class="detail-value">2013-present</span>
                </div>
                <div class="modal-info-item">
                  <span class="detail-label">Members</span>
                  <span class="detail-value">1</span>
  
                </div>
              </div>
              <div class="wrap-info-item">
                <div class="modal-info-item">
                  <span class="detail-label">Sex</span>
                  <span class="detail-value">Male</span>
                </div>
                <div class="modal-info-item">
                  <span class="detail-label">Country</span>
                  <span class="detail-value">United States</span>
                </div>
              </div>
            </div>
            <div class="biography">
              <h5 class="detail-label">Biography</h5>
              <p class="modal-info-bio">
                Armond Arabshahi, known by his stage name Unlike Pluto, is an American singer, songwriter, music producer,
                and former DJ. He is mainly known for his song "Everything Black", released under the record label
                Monstercat in 2017, which he produced with Philadelphia-based vocalist and DJ Mike Taylor.
              </p>
            </div>
  
            <div class="genres">
              <span class="genre-tag">Alternative</span>
              <span class="genre-tag">Pop</span>
              <span class="genre-tag">Rock</span>
              <span class="genre-tag">Indie</span>
            </div>
          </div> -->
      </div>
    </div>
    <div class="section-alboms">
      <h4 class="modal-alboms-title">Albums</h4>
      <div class="modal-alboms"></div>
    </div>
  </div>
</div>
<span class="modal-loader"></span>
