<section class="artists-section" id="artists-section">
  <div class="container">
    <h1 class="artists-section-title">Artists</h1>
    <h2 class="artists-section-subtitle">Explore Your New Favorite Artists</h2>

    <ul id="artists-card-id" class="artists-card"></ul>
    <div id="spinner" class="spinner hidden"></div>

    <button id="load-more-btn" class="load-more-button">
      <span class="button-text">Load More</span>
      <svg class="icon-loadmore" width="24" height="24">
        <use href="./img/sprite.svg#icon-down-arrow-alt"></use>
      </svg>
    </button>
  </div>
</section>
